services:

  db:
    image: postgres
    container_name: sw-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    healthcheck: # CRITICAL: Tells Docker when the DB is ready to accept connections
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d template1"]
      interval: 5s
      timeout: 5s
      retries: 5

  migration-service:
    image: thedjsponge/sw-migration-service
    build:
      context: ./database
      dockerfile: Dockerfile
    container_name: sw-migration-service
    restart: on-failure:3
    environment:
      - DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@db/${DB_NAME}?sslmode=disable
    depends_on:
      db:
        condition: service_healthy

  redemption-service:
    image: thedjsponge/sw-redemption-service
    build:
      context: ./redemption-service
      target: prod
    container_name: sw-redemption-service
    restart: always
    environment:
      - DB_URL=postgres://${DB_USER}:${DB_PASSWORD}@db/${DB_NAME}?sslmode=disable
      - CHECK_USER_URL=${CHECK_USER_URL}
      - CLAIM_COUPON_URL=${CLAIM_COUPON_URL}
      - SERVER_PORT=${SERVER_PORT}
    depends_on:
      db:
        condition: service_healthy
      migration-service:
        condition: service_completed_successfully
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

  # discord-bot:
  #   image: thedjsponge/sw-discord-bot
  #   build:
  #     context: ./discord-bot
  #     dockerfile: Dockerfile
  #   container_name: sw-discord-bot
  #   restart: always
  #   environment:
  #     - DISCORD_BOT_KEY=${DISCORD_BOT_KEY}
  #     - REDEMPTION_SERVICE_URL=http://redemption-service:${SERVER_PORT}
  #   depends_on:
  #     redemption-service:
  #       condition: service_started

  coupon-scraper:
    image: thedjsponge/sw-scraper
    build:
      context: ./coupon-scraper
      dockerfile: Dockerfile
    container_name: sw-scraper
    environment:
      - GAMECODES_URL=${GAMECODES_URL}
      - REDEMPTION_SERVICE_URL=http://redemption-service:${SERVER_PORT}
    depends_on:
      db:
        condition: service_healthy
      redemption-service:
        condition: service_started

  mock-hive:
    container_name: sw-mock-hive
    build:
      context: ./redemption-service
      target: mock # A simple Dockerfile that builds cmd/mock-hive
    ports:
      - "8081:8081"
