- name: Ensure apt transport packages exist
  become: true
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: true

- name: Add Docker apt key
  become: true
  deb822_repository:
    name: docker
    types: deb
    uris: https://download.docker.com/linux/debian
    components: stable
    signed_by: https://download.docker.com/linux/debian/gpg
    suites: '{{ ansible_distribution_release }}'
  notify: Update apt cache

- name: Install Docker 
  become: true
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present